/* Tape Player Styles */
svg.tape-player {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

g.reel-platter {
    transform-box: fill-box;
    transform-origin: center;
}
circle#reel-platter-left, circle#reel-platter-right {
    fill: #ffbc40;
}
path#reel-holes-left, path#reel-holes-right {
    fill: #47300c;
}
#reel-bottom-left, #reel-bottom-right {
    fill: #7c5712;
}

rect#tape-player-top {
    fill: black;
    stroke: #ffbc40;
    stroke-width: 5px;
}
rect#tape-player-bottom {
    fill: #856d1f;
    stroke: #ffbc40;
    stroke-width: 5px;
}

rect#player-tracker-top {
    fill: #ffbc40;
}
rect#player-tracker-bottom {
    fill: #7c5712;
}

rect#player-track {
    fill: #7c5712;
}

text.track-name {
  fill: #ffbc40;
  font-family: 'Rockwell';
}

rect.stop-button {
  fill: #ffbc40;
  cursor: pointer;
}
rect.stop-button:hover {
  fill: red;
}
rect.stop-button:active {
  fill: #ffbc40;
}
polygon.play-button {
  fill: #ffbc40;
  cursor: pointer;
}
polygon.play-button:hover {
  fill: #017411;
}
polygon.play-button:active {
  fill: #ffbc40;
}
g.rewind-button {
  fill: #ffbc40;
  cursor: pointer;
}
g.rewind-button:hover {
  fill: #ffbc40;
}
g.rewind-button:active {
  fill: #ffbc40;
}